<div class="img__header--container">
<!-- <img class="img__header" src="" alt="imagen_header"> -->
  <h2 class="img__header--title">Asegurate de <br> tus <br>
    proyecciones</h2>
</div>
<!--1 section-->
<div class="caracteristicas__main--container">
  <span class="caracteristicas__main--title">Compruebalo ahora</span>
  <h2 class="caracteristicas__main--title2">Nuestro enfoque:</h2>
  <div class="caracteristicas__main--items">
    <span class="caracteristicas__main--item">Seguridad</span>
    <span class="caracteristicas__main--item">Salud</span>
    <span class="caracteristicas__main--item">Mejora continúa</span>
  </div>
</div>
<!--2 section-->
<section>
  <div class="garantias__main--container">
    <h2 class="garantias__main--h2">Te garantizamos:</h2>
    <div class="garantias__main--div--container">
      <div class="garantias__main--content">
        <h3 class="garantias__main--h3">Acompañamiento</h3>
        <div class="garantias__main--div">
          <img src="" alt="logo">
          <p>Te damos todas las herramientas, habilidades necesarias para poder certificarte en el area que desees.</p>
        </div>
      </div>

      <div>
        <span>
          <h3 class="garantias__main--h3">Pre-evaluación</h3>
        </span>
        <div class="garantias__main--div">
          <img src="" alt="logo">
          <p>Realizaremos las preguntas pertinentes para que podamos idear un plan personalizado que permita mejorar tu desempeño.</p>
        </div>
      </div>
      <div>
        <span>
          <h3 class="garantias__main--h3">Recomendaciones</h3>
        </span>
        <div class="garantias__main--div">
          <img src="" alt="logo">
          <p>De acuerdo a los requerimientos establecidos por las normas ISO te aportaremos ideas que puedas implementar en tu org.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div>
    <img src="" alt="Imagen_balanza">
  </div>
</section>

<section>
  <div>
    <video src=""></video>
    <p>Para tu mayor facilidad y comodidad hemos realizado un video explicandote detalladamente el paso a paso para agendar tu primera cita.</p>
    <button>Agendar cita</button>
  </div>
</section>

<hr>

<section>
  <div>
    <h3>¿Por qué certificarme?</h3>
    <img src="" alt="logo">
    <p>La satisfacción del cliente como enfoque principal de la estrategia de negocio</p>
    <p>Mejora de la imagen de la marca y conquista de nuevos negocios en nuevos mercados</p>
    <p>Ahorrar recursos e invertir en desarrollo</p>
  </div>
</section>
